APP_ENV=production
CADDY_DOMAIN=relaypay-sandbox.example.com
CADDY_ACME_EMAIL=operator@example.com
POSTGRES_PASSWORD=GENERATE_A_LONG_RANDOM_VALUE
RELAYPAY_MIGRATOR_DB_PASSWORD=GENERATE_A_LONG_RANDOM_VALUE
RELAYPAY_APP_DB_PASSWORD=GENERATE_A_LONG_RANDOM_VALUE
PROVIDER_MIGRATOR_DB_PASSWORD=GENERATE_A_LONG_RANDOM_VALUE
PROVIDER_APP_DB_PASSWORD=GENERATE_A_LONG_RANDOM_VALUE
RECEIVER_APP_DB_PASSWORD=GENERATE_A_LONG_RANDOM_VALUE
SESSION_SECRET=GENERATE_AT_LEAST_32_RANDOM_CHARACTERS
CSRF_SECRET=GENERATE_AT_LEAST_32_RANDOM_CHARACTERS
API_KEY_PEPPER=GENERATE_AT_LEAST_32_RANDOM_CHARACTERS
IDEMPOTENCY_KEY_PEPPER=GENERATE_AT_LEAST_16_RANDOM_CHARACTERS
WEBHOOK_SECRET_ENCRYPTION_KEY=GENERATE_A_LONG_RANDOM_VALUE
PROVIDER_ACCOUNT_ID=acct_relaypay_demo
PROVIDER_SIGNING_SECRET=GENERATE_AT_LEAST_16_RANDOM_CHARACTERS
PROVIDER_CONTROL_SECRET=GENERATE_AT_LEAST_16_RANDOM_CHARACTERS
RECEIVER_WEBHOOK_SECRET=GENERATE_AT_LEAST_16_RANDOM_CHARACTERS
